:root {
    --primary-color: #cccccc;
    --secondary-color: black;
    --highlight-color: #a1290b;
    --text-color: #ffffff;
    --background-color: #202020;
}

html {
    background-color: var(--background-color);
}

h5 {
    margin: 0;
    font-size: 1.2em;
}

p {
    margin: 0;
}

.base {
    font-family: 'Atkinson Hyperlegible', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.title {
    font-size: 3em;
    color: var(--highlight-color);
    margin: 0;
    padding: 0.5em;
    display: flex;
    flex-direction: row-reverse;
}

.content {
    color: var(--primary-color);
    margin: 0 4em;
}

.content-header {
    width: fit-content;
    color: var(--highlight-color);
}

.content-section {
    font-size: 1.2em;
    margin: 1em 0;
}

.footer {
    text-align: center;
}

@media screen and (orientation: landscape) {
    #lk80-image-content {        
        display: grid;
        grid-template-columns: minmax(1em, 25%) 1fr;
    }
}